<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
  <script src="/static/js/libs/angular_1.6.9.min.js" type="text/javascript"></script>
  <title>Twitter Sentiment Analysis with Spark MLlib</title>
</head>


<body>
  <a href=""><img style="position: absolute; top: 0; right: 0; border: 0;" src="" alt="Fork on GitHub" data-canonical-src=""></a>
  <div id="header">
    <h1>Twitter Sentiment Analysis with Spark MLlib</h1>
  </div>
  
  <div ng-app="">
  	<p ng-model="name"></p>
  	<p ng-bind="name"></p>
	</div>
  
  
  <div id="subtext1">
    <h3>
      <span class="underline">Tech Stack</span>: Python, PySpark {MLlib, Streaming, SQL}, Stanford CoreNLP, Redis, Flask and AngularJS.
    </h3>
  </div>
</body>
